body {
    margin: 0px;
    background: 
    color: whitesmoke;
}
header h1 {
    margin: 0px;
    color: black;
    display: inline;
}
nav ul {
    margin: 0px;
    display: inline;
}
nav ul li {
    margin: 0px;
    padding: 5px 15px;
    background: white;
    color: black;
    list-style-type: none;
    display: inline-block;
}
.A {
    background: orangered;
}
.B {
    background: rebeccapurple;
}
.C {
    background: yellow;
}
.row {
    margin: 5px;
    padding: 10px;
    background: black;
    color: whitesmoke;
}
